services:
  app:
    image: thecodingmachine/php:${PHP_VERSION:-8.2}-v4-cli
    environment:
      PHP_EXTENSION_INTL: 1
      TYPO3_VERSION: ${TYPO3_VERSION:-^12.4}
      TYPO3_API_TOKEN:
      TYPO3_API_PASSWORD:
      TYPO3_API_USERNAME:
      TAG:
      typo3DatabaseHost: mysql
      typo3DatabaseUsername: root
      typo3DatabasePassword: root
      typo3DatabaseName: typo3
    depends_on:
      - mysql
    volumes:
      - ./:/usr/src/app

  mysql:
    image: mysql:8.0
    command:
      - mysqld
      - --character-set-server=utf8mb4
    environment:
      MYSQL_DATABASE: typo3
      MYSQL_USER: typo3
      MYSQL_PASSWORD: typo3
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - type: tmpfs
        target: /var/lib/mysql
