includes:
  - vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
  level: 5

  paths:
    - ext_emconf.php
    - ext_localconf.php
    - ext_tables.php
    - Classes
    - Configuration

  ignoreErrors:
    - message: '#\$_EXTKEY#'
      path: ext_emconf.php
    - message: '#Right side of || is always false.#'
      path: ext_localconf.php
      count: 1
    - message: '#Right side of || is always false.#'
      path: ext_tables.php
      count: 1
    - message: '#PageInterface given#'
      paths:
        - Classes/Page/Collection/PageCollection.php
        - Classes/Page/Collection/PageOverlayCollection.php

  reportUnmatchedIgnoredErrors: false
